@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family:  "Lato", sans-serif;
}

body > header {
    background: #8625d2;
    color: white; 
    font-size: 1.5em;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

body > main > .page-title {
    font-size: xx-large;
    padding: 50px 0;
    text-align: center;
}
body > main > .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em;
}

body > main > .content > section {
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table > thead > tr {
    padding: 10px;
    border-bottom: 3px solid #eee;
}
table > thead > tr > th {
    text-align: left;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #666;
}



.product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}
.product > img {
    border-radius: 6px;
    width: 100px;
    height: 100px;
}
.product > .product-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
}
.product > .product-info > .name {
    font-size: 1em;
    margin-bottom: 10px;
}
.product > .product-info > .category {
    font-size: 0.8em;
    color: #666;
    margin-bottom: 10px;
}
.quantity {
    display: inline-flex;
    background-color: #eee;
    padding: 0 0;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    border-radius: 20px;
    overflow: hidden;
    height: 30px;
}
.quantity > span {
    padding: 0 10px;
    font-size: 1em;
}
.quantity > button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 0 10px;
    font-size: 20px;
    height: 100%;
}
.quantity > button:hover {
    background: #ddd;
}

.remove {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background: #eee;
}

.remove > button {
    font-size: 1.2em;
    border: none;
    background: transparent;
    color: #666;
}

.remove > button:hover {
    color: #d11d44;
}


.resume {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background: #eee;
    color: #222;
}

.resume > header {
    padding: 15px 20px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
}

.resume > .details {
    padding: 20px;
}

.resume > .details > section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
}

.resume  .details  button {
    color: #ff3a2f;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.resume > footer {
    padding: 15px 20px;
    background: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
}